$blue: #18A0FB;
$gray: #878787;
$lightgray: #E0E0E0;
$white: #ffffff;
$black: #2C2C2C;
$red: #FF3E1D;
$green: #00D200;
$blocks-btns: ( "padding": 2rem 0, "display": flex, "flex-wrap": wrap, "justify-content": space-between, )