mixin btn-search(btnModColorClass, btnModSizeClass, btnImgModClass, btnImg)
    a(href="#").btn.btn_border-radius(class=btnModColorClass)(class=btnModSizeClass)        
        img.btn__img(class=btnImgModClass)&attributes(btnImg)