mixin btn-li(btnModColorClass, btnModSizeClass, btnImgModClass, btnImg, btnText)
    a(href="#").btn(class=btnModColorClass)(class=btnModSizeClass)        
        img.btn__img(class=btnImgModClass)&attributes(btnImg)
        p.btn__text #{btnText}